body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 5em auto;
    width: 50%;
    border: 3px solid rgb(14, 14, 56);
    padding: 0 2em 1em;
}

h1 {
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}

div {
    margin-bottom: 1em;
}

input {
    width: 22em;
    margin-bottom: .5em;
}

#tasks {
    margin-top: 0;
    float: right;
    width: 24em;
    min-height: 5em;
}